<?xml version="1.0"?>
<launch>   
    <arg name="bag_file" default="/home/leo/Documents/cofruit/bags/placeuk_2022-10-18-15-26-50.bag" />
    
    <node pkg="rosbag" type="play" name="rosbag_play_sensors"
    args="--loop $(arg bag_file) --topics /camera/aligned_depth_to_color/image_raw /camera/color/image_raw"/>  
     
</launch>


